body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #f2f2f2;
}
html {
  padding: 0;
  margin: 0;
}
.main {
  margin: 0;
  padding: 0;
}
.main_resize {
  margin: 0 auto;
  padding: 0 10px;
  width: 958px;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #fff;
}
.main_resize h1 {
  font: bold 24px Arial, Helvetica, sans-serif;
  color: #2a2a2a;
  padding: 10px 5px;
  margin: 0;
}
.main_resize h1 span {
  font: italic 11px Arial, Helvetica, sans-serif;
  color: #b1b1b1;
}
.main_resize h2 {
  font: normal 18px Arial, Helvetica, sans-serif;
  color: #f7941e;
  padding: 10px 5px;
  margin: 0;
}
.main_resize h2 span {
  font: italic 11px Arial, Helvetica, sans-serif;
  color: #b1b1b1;
}
.main_resize h3 {
  font: normal 44px Arial, Helvetica, sans-serif;
  color: #7e7e7e;
  padding: 20px 5px;
  margin: 0;
  text-align: right;
}
.main_resize p {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #1c75bc;
  line-height: 1.8em;
  padding: 5px;
  margin: 0;
}
.main_resize p span {
  color: #b1b1b1;
  font: italic 11px Arial, Helvetica, sans-serif;
  line-height: 1.8em;
}
.main_resize a {
  color: #2d75c0;
  text-decoration: none;
}
.main_resize img {
  margin: 5px auto;
  padding: 0;
}
.main_resize img.floated {
  float: left;
  margin: 5px 10px 5px 0;
  padding: 0;
}
.main_resize ul.serv {
  list-style: none;
  margin: 10px 0 10px 5px;
  padding: 0;
  width: 230px;
  float: left;
}
.main_resize li.serv {
  padding: 5px;
  margin: 0;
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #2d75c0;
}
.main_left {
  width: 250px;
  float: left;
  padding: 0 0 0 10px;
  margin: 0;
}
.main_right {
  width: 680px;
  float: right;
  padding: 0;
  margin: 0;
}
.blog {
  width: 280px;
  float: left;
  padding: 0;
  margin: 10px 30px 10px 10px;
}
.blog2 {
  width: 215px;
  float: left;
  padding: 0;
  margin: 10px 10px 30px 0;
}
.header {
  padding: 0 0 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid #dfdfdf;
}
.logo {
  padding: 0;
  margin: 0;
  width: 232px;
  float: left;
}
.logo img {
  margin: 10;
  padding: 0;
}
.menu {
  width: 555px;
  padding: 10px 0 0 0;
  margin: 0;
  float: left;
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
}
.menu ul li {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
.menu ul li a {
  display: inline;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  padding: 11px;
  color: #f7941e;
  font: normal 11px Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.menu ul li a:hover {
  background: #dfdfdf;
}
.menu ul li a.active {
  background: #dfdfdf;
}
.click {
  width: 350px;
  float: right;
  padding: 0;
  margin: 0;
  text-align: right;
}
.click p {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #959595;
  padding: 0;
  margin: 0;
}
.slider_main {
  margin: 0 auto;
  padding: 0;
}
.slider_main .leftt {
  float: left;
  width: 252px;
  padding: 0;
  margin: 0;
}
.slider_main .leftt h2 {
  font: normal 24px Arial, Helvetica, sans-serif;
  color: #f7941e;
  padding: 71px 0 0 24px;
  margin: 0;
  line-height: 1.2em;
}
.slider_main .leftt p {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #1c75bc;
  padding: 10px 0 15px 24px;
  margin: 0;
  line-height: 1.8em;
}
.slider_main .leftt a {
  display: inline;
  margin: 22px;
  padding: 11px;
  color: #616161;
  font: normal 13px Arial, Helvetica, sans-serif;
  text-decoration: none;
  border-radius: 5px;
}
.slider_main .leftt a:hover {
  background: #dfdfdf;
}
.search {
  padding: 0;
  margin: 0 auto 15px auto;
}
.search form {
  display: block;
  float: left;
  padding: 5px;
  margin: 0;
  background: #fafafa;
}
.search form .keywords {
  line-height: 16px;
  float: left;
  border: 0;
  width: 150px;
  padding: 7px 0;
  height: 16px;
  background: none;
  margin: 0;
  font: normal 14px Arial, Helvetica, sans-serif;
  color: #9c9c9c;
}
.search form .button {
  float: left;
  margin: 0;
  padding: 0;
}
.search p {
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #959595;
  padding: 7px 0;
  height: 16px;
  margin: 0;
  float: left;
  line-height: 14px;
}
.search span {
  display: block;
  float: left;
  background: #f6f6f6;
  border: 1px solid #eaeaea;
  width: 150px;
  padding: 0 5px;
  height: 30px;
  margin: 0 3px;
}
.right_text {
  border-top: 1px solid #dadada;
  background: #ececec;
  padding: 0;
  margin: 0 0 15px 0;
}
.right_text p {
  font: normal 11px Arial, Helvetica, sans-serif;
  color: #7e7e7e;
  padding: 15px;
  margin: 0;
}
#contactform {
  margin: 0;
  padding: 5px 10px;
}
#contactform * {
  color: #f00;
}
#contactform ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
#contactform li {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: block;
  clear: both;
}
#contactform li.buttons {
  margin: 5px 0 5px 0;
  clear: both;
}
#contactform li.buttons input {
  padding: 3px 0 3px 0px;
  margin: 10px 0 0 0;
  border: 0;
  color: #fff;
  float: left;
}
#contactform label {
  margin: 0;
  width: 150px;
  display: block;
  padding: 10px 0;
  color: #222;
  font: normal 12px Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  float: left;
}
#contactform label span {
  color: #f00;
}
#contactform input.text {
  width: 530px;
  border: 1px solid #e8e8e8;
  margin: 2px 0;
  padding: 5px 2px;
  height: 16px;
  background: #f8f8f8;
  float: left;
}
#contactform textarea {
  width: 530px;
  border: 1px solid #e8e8e8;
  margin: 2px 0;
  padding: 2px;
  background: #f8f8f8;
  float: left;
}
p.clr,
.clr {
  clear: both;
  padding: 0;
  margin: 0;
  background: none;
}
li.bg,
.bg {
  clear: both;
  border-top: 1px solid #f2f2f2;
  width: 100%;
  padding: 0;
  margin: 15px 0;
  background: none;
  line-height: 0;
}
#slider {
  width: 648px;
  padding: 10px 0 0 0;
  margin: 0;
  height: 345px;
  float: right;
}
#slideshow {
  margin: 0 auto;
  width: 653px;
  height: 316px;
}
.slider-item {
  height: 346px;
  margin: 0 auto;
  padding: 0;
}
.slider_content_inner img {
  border: none;
  margin: 0 auto;
}
.controls-center {
  margin: 0 auto;
  padding: 0;
}
#slider_controls {
  float: right;
  margin: 0;
  width: 115px;
}
#slider_controls ul {
  margin: 0 auto;
  padding: 0;
  width: 120px;
}
#slider_controls ul li {
  background: none;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  display: block;
}
#slider_controls ul li a {
  width: 10px;
  height: 10px;
  background: url("../images/tabs_2.gif") no-repeat center center;
  display: block;
  float: left;
  padding: 2px;
  margin: 2px !important;
  margin: 1px 1px;
  outline: none;
}
#slider_controls ul li a:focus {
  outline: none;
}
#slider_controls ul li a:hover,
#slider_controls ul li a.activeSlide {
  background: url("../images/tabs_1.gif") no-repeat center center;
}
.footerleft {
  padding: 0px 40px 40px 40px;
  float: left;
}
.footerleft p {
  font-size: 15px;
  line-height: 18px;
  color: #888;
  text-align: left;
}
.footerleft h3 {
  font-size: 26px;
  font-weight: 300;
  color: #888;
  line-height: 36px;
  text-align: left;
}
.footerright {
  border-top: 1px solid #dfdfdf;
  padding: 0px 40px 40px 40px;
}
.footerright p {
  font-size: 15px;
  line-height: 18px;
  color: #888;
  text-align: right;
}
.footerright h3 {
  font-size: 26px;
  font-weight: 300;
  color: #888;
  line-height: 36px;
  text-align: right;
}
