extends layout

block content
  
    
        h3 Contact Us
        .main_left
          .search
            form#form1(name='form1', method='post', action='#')
              p Search: 
              label
                span
                  input#textfield.keywords(name='q', type='text', maxlength='50', value='')
                input.button(name='b', type='image', src='images/search.gif')
            .clr
          h2
            | Contact Information
            br
            span  Lorem ipsum dolor sit amet, consectetur 
          p
            strong Tel
            | : +44 (0) 1234 6765
            br
            strong Fax
            | : +44 (0) 1234 6765
            br
            strong Email
            | : mail@mail.com
            br
            strong Skype
            | : 888 888 888 888
          h2 Some Text Here
          p
            | Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus.
        .main_right
          .clr
          .right_text
            include MBnews
          .clr
          h2
            | Send us an e-mail
            br
            span  Ut enim ad minim veniam, quis nostrud exercitation 
          p
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p  
          form#contactform(action='#', method='post')
            ol
              li
                label(for='name')
                  | First Name 
                  span.red *
                input#name.text(name='name')
              li
                label(for='email')
                  | Your email 
                  span.red *
                input#email.text(name='email')
              li
                label(for='company') Company
                input#company.text(name='company')
              li
                label(for='subject') Subject
                input#subject.text(name='subject')
              li
                label(for='message')
                  | Message 
                  span.red *
                textarea#message(name='message', rows='6', cols='50')
              li.buttons
                input#imageField.send(type='image', name='imageField', src='images/send.gif')
                .clr
          p  
          p  
        .clr
      .footer
        .footer_resize
          p.leftt
            | © Copyright websitename . All Rights Reserved. 
            a(href='#')
              br
              |         Home
            |  
            a(href='#') Contact
            |  
            a(href='#') RSS 
          p.right
            | (Blue) 
            a(href='http://www.bluewebtemplates.com') Website Templates
          .clr
        .clr
    div(align='center')
      | This template  downloaded form 
      a(href='http://all-free-download.com/free-website-templates/') free website templates
