.header
          .logo
            a(href='#')
              img(src='images/logo_name.png', width='300', border='0', alt='')
          .clr
          .menu
            ul
              li
                a(href='/')
                  span Home
              li
                a(href='/about')
                  span  About Us 
              li
                a(href='/services')
                  span Services
              li
                a(href='/projects')
                  span Projects
              li
                a(href='/tools')
                  span  Tools
              li
                a(href='/blog')
                  span  Blog
              li
                a(href='/contact')
                  span  Contact Us
          
          .clr
        .clr
      //  h1 Hi, Enoch Engineering is currently Under Construction. 
     //   h2 Please come back again soon. 