extends layout

block content
        .slider_main
          .leftt
            h2
              | Lets work together 
              br
              | to find your solution...
            p
              | We use an agile approach to delivering our services. Through incremental reviews and iterations we can tailor a solution to your needs. 
            a(href='/projects')
              span View projects
          #slider
            // start slideshow
            #slideshow
              .slider-item
                a(href='#')
                  img(src='images/Slide-Agile.png', alt='', width='648', height='303', border='0')
              .slider-item
                a(href='#')
                  img(src='images/Slide-Requirements.png', alt='', width='648', height='303', border='0')
              .slider-item
                a(href='#')
                  img(src='images/Slide-Design.png', alt='', width='648', height='303', border='0')
              .slider-item
                a(href='#')
                  img(src='images/Slide-Development.png', alt='', width='648', height='303', border='0')
              .slider-item
                a(href='#')
                  img(src='images/Slide-Testing.png', alt='', width='648', height='303', border='0')
            // end #slideshow
            .controls-center
              #slider_controls
                ul#slider_nav
                  li
                    a(href='#')
                  // Slide 1
                  li
                    a(href='#')
                  // Slide 2
                  li
                    a(href='#')
                  // Slide 3
                  li
                    a(href='#')
                  // Slide 4
                  li
                    a(href='#')
                  // Slide 5
            .clr
          .clr
        .clr
        .main_left
          .search
            form#form1(name='form1', method='post', action='#')
              p Search: 
              label
                span
                  input#textfield.keywords(name='q', type='text', maxlength='50', value='')
                input.button(name='b', type='image', src='images/search.gif')
            .clr
          include SBnews
          include SBrecommendations  
        .main_right
          .clr
          .right_text
            include MBnews
          .clr
          h2
            | Welcome to Our Website
            br
            span  Everything is possible, Just need to figure out the best way to do it.
          p
            | Enoch Engineering offers consulting and labour hire services. We have a broad range of skills gained over years of experience while working for SCADA and Control System Vendor and Power and Gas Utility Company. Working in small and large project teams as control system engineer and Senior Electrical and Instrumentation engineer.
          p  
          h2
            | Featured Works
            br
            span
              | A sample of past and present project, along with some of the key achievements. 
          p
            | Below are some of the past projects contributions and achievements. More past and present projects can be viewed form the projects page.
          img.floated(src='images/wilton.png', alt='', width='168', height='75')
          p
            a(href='#')
              strong Wilton Metering Station - Jemena
            br
            |         As part of the Jemena major works Project team EGP Expansion project, The Wilton metering station facility provides high pressure natural gas regulation and metering. Contributions include review E&I engineering design, Control system and SCADA integration and commissioning of the control system and metering. Achievements include the pressure control programming and tuning, capable of meeting nominations to within 0.005% of the specified nomination.
          p
            a(href='#') Read More »
          .bg
          img.floated(src='images/Mocs.png', alt='', width='168', height='75')
          p
            a(href='#')
              strong Michelago Compressor Station - Jemena
            br
            |         As part of the Jemena major works Project team EGP Expansion project, The Michelago Compressor station facility provides additional flow throughput for the EGP high pressure natural gas pipeline. Contributions include review E&I engineering design, Control system and SCADA integration, communications and E&I and control system commissioning. Achievements include the enhanced diagnostic capabilities made available via the SCADA system. Additional diagnostics information is displayed in a simple list showing both cause and effect, allowing operators to quickly identify faults and triggers and in some cases have time to act to prevent trip and increase compressor availability.
          p
            a(href='#') Read More »
          .bg
          img.floated(src='images/gladstone.png', alt='', width='168', height='75')
          p
            a(href='#')
              strong Gladstone City Gate - Jemena 
            br
            |         The Gladstone City Gate, meters and regulates the natural gas supply to Gladstone. Contributions include SCADA and PLC migration and updates. Achievements include improvements to the odorant injection controls and feedback via tuning, fail safe controls and software upgrades. The PLC program upgrades included tracking the odorant usage which provides operators with information about when a tank re-fill is required and how the odorant pump is performing.
          p
            a(href='#') Read More »
          p  
        .clr

