h2
    | News and Events
    br
    span  Latest trends, products and activites  
p
    span
        | 7 Nov 2016 
    br
    strong PopTest PSV Rig Decal
    br
    |         Working with PopTest, to create a vinyl decal for a PSV rig. Potential for other application, such as instrument panels, providing labelling and guided operational instructions.  
p
    span
        | 21 Oct 2016 
    br
    strong Enoch Engineering Pty Ltd
    br
    |         Enoch Engineering is upgrading from sole trader to Company Pty Ltd. 
p
    br
