h2
    | What They Say
    br
    span Customer and College Recommendations 
img.floated(src='images/test.gif', alt='', width='18', height='17')
p
    | "Enoch is a very capable and consciousness engineer who I have worked with on several Controls and Instrumentation projects. He willingly takes on technical responsibility and ensures that the work is implemented correctly"
p
    em
        strong by: Andrew Skillington - Project Manager